@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.carousel-item img {}

.col-md-4 img {
    width: 100%;
}


/* Responsive Mode */

/* Mobile mode */

@media screen and (max-width:576px) {
    .register {
        text-align: center;
    }
}